.wrapper {
  background: #f6f1f1;
}

.nav-item {
  cursor: pointer;
  color: #3b3c54;
}

.nav-item:hover {
  color: red;
}

.card-header {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
}
