.wrapper {
  background: #f6f1f1;
}

.search-view-autocomplete {
  height: 400px;
  overflow-y: auto;
  visibility: hidden;
  //display: none;
}

.search-view:focus + .search-view-autocomplete {
  visibility: visible;
}

.shopping-cart-icon {
  cursor: pointer;
  font-size: 18px;
  color: white
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: red;
}

.card-header {
  font-size: 22px;
  font-weight: 600;
  padding: 1rem 1.5rem;
}

@media screen and (max-width: 768px) {
  .nav-item {
    font-size: 12px;
    font-weight: bold;
  }
}
